*{
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Comfortaa', cursive;
}
a{
    text-decoration: none;
    color: #757575;
}
li{
    list-style-type: none;
}
#wrapper{
    width: 1600px;
    background-color: #E3E3E3;
}

#header{
    background-color: #FFF;
    height: 63px;
    font-family: 'Montserrat', sans-serif;
    color: #757575;
    letter-spacing: 3px;
    /*line-height: 63px;*/
    font-weight: 700;
    display: flex;
    justify-content: space-evenly;
}
#first_background{
    background-image: url('../img/first_background.png');
    background-repeat: no-repeat;
    height: 698px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#logo{
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 18px;
}
#logo img{
    height: 36px;
}
#top_menu{
    display: flex;
    margin: 0;
    align-items: center;
    font-size: 12px;
    width: 700px;
    justify-content: space-evenly;
}
.sub_menu{
    
    height: 100%;
    line-height: 63px;
    user-select: none;
    transition: all 0.5s;
    color:red; 
}
.sub_menu a{
    transition: all 0.5s;
}

.sub_menu:hover a{
    font-size: 14px;
    color:red; 
}
.contacts{
    display: flex;
    align-items: center;
    width: 100px;
}
.contacts li{
    display: inline-block;
   
}

.contacts i{
    transition: all 0.5s;
}
.contacts i:hover{

    transform: scale(1.3);
}
.contacts li::after{
    content: "|";
    font-size: 19px;
}
.contacts li:last-child::after{
    content: none;
}
#pop_menu{
    text-align: center;
    margin:auto;
    color: #FFF;
}
#description{
    font-family: 'Crimson Pro', serif;
    font-size: 14px;
}
#our_company{
    /*font-family: 'Montserrat', sans-serif;*/
    font-family: 'Amsdam';
    font-size: 36px;
    margin-top: 36px;
    letter-spacing: 3px;
    margin-bottom: 40px;
}
#our_company img{
    transition: all 0.5s;
}
#our_company img:first-child{
    margin-right: 300px; 
    cursor: pointer;
}
#our_company img:last-child{
    margin-left: 300px; 
    cursor: pointer;
}
#our_company img:hover{
    transform: scale(1.2);
}
#start_button{
    border:  2px solid white;
    width: 150px;
    padding: 10px;
    height: 40px;
    margin: auto;
    font-size: 15px;
    color: #FFF;
}
#start_button{
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    transition: all 0.5s;
}
#description::after{
    margin-top: 26px;
}
.first_list::after{
    content: url('../img/Line.png');
    display: block;    
}
.first_list:last-child::after{
    content: none;
    display: none;
}
#start_button:hover{
    color: black;
    background-color: white;
}
#arrow:hover ~ #start_button{
    color: black;
    background-color: white;
}
#history_block{
    background-color: #ededed;
}
.titles{
    font-family: 'Amsdam';
    text-align: center;
    font-size: 20px;
    margin-top: 60px;
}
.titles::after{
    content: url('../img/black_line.png');
    display: block;
}
.white-line::after{
    content: url('../img/Line-short.png');
}
.titles_description{
    font-family: 'Crimson Pro', serif;
    text-align: center;
    font-size: 14px;
    width: 1000px;
    margin: 30px auto;
    letter-spacing: 1.5px;
}
#blockCenter {
    background-color: #FFF;
    margin: 100px 215px 0px 215px;
    width: 1170px;
    height: 753px;
}
#blocktext {
    margin-top: 35px;
    font-family: 'Crimson Pro', serif;
    font-size: 18px;
    text-align: left;
    line-height: 25px;
    padding: 0px 70px 0px 70px;
}

.contactbutton {
    text-align: center;  
    width: 134px;
    height: 40px;
    border: 2px solid #454444;
    font-size: 13px;
    display: block;
    float: left;
    margin-right: 4px;
    
    font-family: 'Montserrat', sans-serif;
    background-color: #fff; 
    color:#454444;
}
.contactbutton:hover{
    background-color: #454444;
    transition: all 0.5s;
    color: #E3E3E3;
}

.infoblock {
    text-align: center;  
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: bolder;
    /* display: inline-block; */
}
#imageblock_k {
    text-align: center;  
    width: 1600px;
    height: 660px;
    background-image: url('../img/fonK.png'); 
}
.title_description {

}

#teamdescription {
    /* display: inline; */
    
    margin-top: 30px;
}

.manphoto_k {
    text-align: center;  
    display: inline-block;
    width: 271px;
    height: 338px;
    margin-right: 30px;
}

.maninfo_k {
    text-align: center;  
    transition: opacity 0.5s;
    /* display: none;  */
    background-color: aliceblue;
    opacity: 0;
    margin: 9px 7px 9px 7px;

    width: 257px;
    height: 320px;

    font-size: 13px; 
    font-family: 'Montserrat', sans-serif;
    text-align: left;
}

.profession_k {
    margin-top: 4px;
    margin-left: 20px;
    font-family: 'Crimson Pro', serif;
    font-size: 14px;
    font-style: italic;
}

.profession_k:after {
    margin-top: 10px;
    content: "";
    display: block;
    width: 146px;
    height: 2px;    
    background-color: black;
}

.socialnetw_k {
    margin-top: 5px;
    margin-left: 20px;
    /* display: inline-block; */
}

#first_man_photo_k:hover #first_man_info_k {
    opacity: .5;
    display: block;
}

#second_man_photo_k:hover #second_man_info_k {
    
    opacity: .5;
    display: block;
}

#third_man_photo_k:hover #third_man_info_k {
    opacity: .5;
    display: block;
}
#services_background
{
    background-image: url('../img/services-back.png');
    background-repeat: no-repeat;
    height: 698px;
}
.dd_services_text
{
    display: inline-block;
    color: wheat;
    
}
#dd_menu_names
{
    margin-left: 314.31px;
    text-align: center;
    margin: auto;
    margin-top: 70px;
    display: flex;
    justify-content: space-evenly;
    color: #CCC;
}
.dd_services
{
   
    background-repeat: no-repeat;
    padding: 40px 40px 40px 40px;
    height: 600px;
    
}

.dd_title_of_sertifications
{
    text-align: center;
    margin: 40px auto 0 auto;
    height: 54px;
   
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    transition: all 0.5s;
    
}
.dd_services:hover .dd_title_of_sertifications
{
    /*font-size: 17px;*/
    letter-spacing: 5px;
}
.dd_descriptions_of_sertifications {
    width: 190px;
    margin-top: 15.68px;
    word-spacing: 2px;
    padding-bottom: 40px;
    font-family: 'Crimson Pro', serif;
    font-size: 13px;
    letter-spacing: 1px;
}
.lamp_icon{
    padding-bottom: 40px;
}
#portfolio_k {
    width: 1600px;
    height: 355px;
    background-color: #fff;
}
#pictureset_k {
    width: 1600px;
    height: 708px;
    display: flex;
    align-items: flex-start;
}
.twopictures {
    display: flex;

    flex-direction: column;
    align-items: flex-start;
    flex-basis: 160px;
    
}
.around_two_pictures{
    display: inline-block;
    width: 25%;
    height: 708px;
    overflow: hidden;
}
.around_two_pictures div{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 400px;
}
.around_two_pictures img{
    width: 400px;
}
#prices_k {
    height: 780px;
    width: 1600px;
    background-color: #e3e3e3;
}

#price_blocks_k {
    height: 550px;  
    margin-left: 215px;
    justify-content: space-evenly;
}
.price_k {
    display: inline-block;
    text-align: center;
    margin-right: 30px;
    width: 370px;
    height: 550px;
    background-color: white;
}
#rectangleBlog{
    margin-top: 30px;
    height: 826px;
    width: 1600px;
    background: #000000;
    overflow: hidden;
}
.photo_ada{  
    width: 400px;
    height: 400px;
    margin: 0px;  
    padding: 0px;
    overflow: hidden;
}
.photo_ada img{  
    height: 400px;
    background-position: center;
    width: 100%;
    background-repeat: repeat;
    background-size: cover;
    transform: scale(1.05);
}
.text_blog{
    width: 400px;
    height: 400px;
    margin: 0px;
    padding: 50px 37px;
}
#textBlog1{
    font-family: 'Crimson Pro', serif;
    font-size: 12px;
    color: #d7d7d7;
    font-style: italic; 

}
#textBlog1::after{
    content: url('../img/line_flat.png');
    display: block;
}
#textBlog2{
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    color: #bfbfbf;
    text-transform: uppercase; 
    /*font-style: regular;*/
}
#textBlog3{
    font-family: 'Crimson Pro', serif;
    font-size: 14px;
    color: #c7c7c7;
    letter-spacing: 1.5px;
}
.clients{
    height: 523px; 
    background-color: #fff;
}
.logotypes{
    display:flex; 
    justify-content: space-between; 
    padding-top: 80px;
    margin: 0px 285px;
}
.testimonials{
    height: 518px;
    width: 1600px;
    background: url(../img/testimonials_back.png) no-repeat;
    background-size: 100%;
    /*background-color: rgb(170, 255, 188);*/
    padding-top: 75px;
}
.circle{
    height: 107px;
    width: 107px;
    border-radius: 50%;
    background-image: url(../img/man_testimonials.png);
    margin-left: auto;
    margin-right: auto;
}
#text_testimonials{
    font-family: 'Crimson Pro', serif;
    font-size: 20px;
    font-style: italic;
    width: 770px;
    color: #e2e3e3;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#text_testimonials::before
{
    content: url('../img/kavs_start.png');
    position: relative;
    margin-right: 10px;
    
}
#text_testimonials::after
{
    content: url('../img/kavs_end.png');
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
}
#text_testimonials1{
    font-family: 'Crimson Pro', serif;
    font-size: 14px;
    font-style: italic;
    color: #e2e3e3;
}
.textTesti1{
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    color: #e2e3e3;
    /*font-style: regular;*/
}
.circleSmall{
    height: 12px;
    width: 12px;
    background-color: #c5c5c5;
    border-radius: 50%;
    display: inline-block;
}
.circleSmallPaint{
    height: 12px;
    width: 12px;
    background-color: #e3e3e3;
    border-radius: 50%;
    display: inline-block;  
}
.map{
    height: 513px;
    width: 1600px;
    background: url(../img/map_back.png) no-repeat;
    background-size: 100%;
    /*background-color: rgb(170, 255, 241);*/
    padding-top: 207px;
}
.square_map{
    height: 67px;
    width: 67px;
    background-color: #2d2d2f;
    padding-top: 4px;
    /*margin-top: 207px;*/
    margin-left: 657px;
}
.square_map1{
    margin-left: 4px;
    height: 59px;
    width: 59px;
    background-color: #2d2d2f;
    border: 2px solid #a1a1a1;
    padding-top: 13px;
}
.triangle_map{
    width: 0;
	height: 0;
	border: 10px solid transparent;
	border-top: 10px solid #2d2d2f; 
    margin: 1px auto;
}
footer {
    height: 686px;
    width: 1600px;
    background: url(../img/footer_back.png) no-repeat;
    background-repeat-y: repeat;
    background-size: 100%;
    /* background-color: rgb(245, 170, 255); */
    padding-top: 50px;
    padding-left: 215px;
    font-family: 'Crimson Pro', serif;
    letter-spacing: 2px;
}
#logotype{
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #e2e3e3;
    font-family: 'Montserrat';
    letter-spacing: 1.5px;
}
.textFooter{
    width: 370px;
    font-family: 'Crimson Pro', serif;
    font-size: 15px;
    color: #949494;
    padding-bottom: 34px;
}
.textFooterUpper{
    width: 370px;
    font-family: 'Montserrat'; 
    letter-spacing: 1.5px;
    font-size: 13px;
    text-transform: uppercase;
    color: #e3e3e3;
    padding-bottom: 24px;
}

.field_text{
    position:relative;
    background-color: transparent;
    padding-left: 25px;
    width: 373px;
    height: 55px;
    font-family: 'Crimson Pro', serif;
    font-size: 15px;
    /* font-style: italic; */
    color: #ddd;
    letter-spacing: 2px;
    margin-right: 20px;
} 
.field_text1{
    position:relative;
    background-color: transparent;
    padding-left: 25px;
    width: 373px;
    height: 55px;
    font-family: 'Crimson Pro', serif;
    font-size: 15px;
    /* font-style: italic; */
    color: #ddd;
    letter-spacing: 2px;
    margin-bottom: 25px; 
} 
.field_text_message{
    position:relative;
    background-color: transparent;
    padding-left: 25px;
    width: 773px;
    height: 95px;
    font-family: 'Crimson Pro', serif;
    font-size: 15px;
    color: #ddd;
    letter-spacing: 2px; 
    padding-bottom: 45px;
    border-color: #464646;
} 
.button{
    margin-top: 22px;
    background-color:#464646;
    color: #e3e3e3;
    font-family: 'Montserrat'; 
    font-size: 13px;
    letter-spacing: 1px;
    width: 135px;
    height: 40px;
    outline: none;
    border: none;
    border: solid 2px #464646;
    color:#c4c4c4;
}
.button:hover{
   opacity: 0.5; 
   transform: scale(0.95);
}
#textAboutCompany{
    width: 222px;
    font-family: 'Crimson Pro', serif;
    font-size: 14px;
    font-style: italic;
    color: #7f7f7f;
    margin-top: 30px;
}
footer input{
    outline: none;
    border: none;
    border: solid 3px #464646;
    color:white;
}
footer input::placeholder{
    font-style: italic;
    color:#949494;
}
#kompas_block{
    height: 180px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    background-color: #2d2d2f;
}
#kompas_block img{
    margin-left: 150px;
}
#kompas_block>div{
    width: 45%;
    letter-spacing: 1px;
}
#kompas_block>a{
    margin-right: 150px;
}
#kompas_sagolov{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    color: #d8d8d8;
}
#kompas_descrp{
    font-size: 15px;
    font-family: 'Crimson Pro', serif;
    font-style: italic;
    color: #888888;
    margin-top: 10px;

}
#kompas_block .contactbutton{
    background-color: #2d2d2f;
    border: 2px solid #e3e3e3;
    color: #e3e3e3;
}
#kompas_block .contactbutton:hover{
    background-color: #e3e3e3;
    color: #2d2d2f;
}